.bg-animation {
    width: 100%;
    height: 200px;
    position: relative;
    .text {
        width: 100%;
        position: absolute;
        z-index: 99;
        font-size: 24px;
        text-align: center;
        line-height: 200px;
    }
}
.bg-animation::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(110%, 0);
    background:
        repeating-linear-gradient(
            50deg,
            #F7A37B,
            #F7A37B 1em,
            #FFDEA8 1em,
            #FFDEA8 2em,
            #D0E4B0 2em,
            #D0E4B0 3em,
            #7CC5D0 3em,
            #7CC5D0 4em,
            #00A2E1 4em,
            #00A2E1 5em,
            #0085C8 5em,
            #0085C8 6em
        );
    animation: move 5s infinite linear;
    // background-blend-mode、filter、mask
    mix-blend-mode: exclusion;
    opacity:.5;
}
.bg-animation::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(-110%, 0);
    background:
        repeating-linear-gradient(
            -50deg,
            #F7A37B,
            #F7A37B 1em,
            #FFDEA8 1em,
            #FFDEA8 2em,
            #D0E4B0 2em,
            #D0E4B0 3em,
            #7CC5D0 3em,
            #7CC5D0 4em,
            #00A2E1 4em,
            #00A2E1 5em,
            #0085C8 5em,
            #0085C8 6em
        );
    animation: move 5s infinite linear;
    opacity:.5;
}

.about {
    padding: 10px;
    .ellipsis {
        width: 150px;
        .one-line {
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
           margin-bottom: 20px;
        }
        .multiple-line {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            margin-bottom: 20px;
        }
        .block-item {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 20px;
            // 解决ios兼容，可以使用多行省略并设置为1
            // white-space: normal;
            // display: -webkit-box;
            // -webkit-box-orient: vertical;
            // -webkit-line-clamp: 1;
            span {
                // 使其能够整块隐藏
                // 这个兼容性差，ios不兼容（text-overflow 只能对内联元素进行打点省略）
                display: inline-block;
                padding: 3px 5px;
                background-color: #0085C8;
                margin-right: 10px;
            }
        }
        .useAfter {
            position: relative;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            width: 155px;
        }
        .useAfter::after {
            content: '...';
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

@keyframes move {
    30% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}